In [1]:
# to start to work with dataframe we need to start a spark session
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
# File path
%fs ls /FileStore/tables/people.json

path,name,size
dbfs:/FileStore/tables/people.json,people.json,73

In [4]:
path = '/FileStore/tables/people.json'

In [5]:
df = spark.read.json(path)
df.show()

In [6]:
df.printSchema()

In [7]:
df.columns

In [8]:
df.describe().show()

In [9]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [10]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [11]:
final_structure = StructType(fields = data_schema)

In [12]:
df = spark.read.json(path,schema=final_structure)

In [13]:
df.printSchema()

In [14]:
# Selcting column
df.select('age').show()

In [15]:
df.show()

In [16]:
df.head(2)[0]

In [17]:
df.select(['age','name']).show()

In [18]:
df.withColumn('newcolumn',df['age']).show()

In [19]:
type(df['age'])

In [20]:
type(df.select('age'))

In [21]:
df.withColumnRenamed('age','renamed_age')

In [22]:
df.show()

In [23]:
# registering the df as sql temporary view named as people
df.createOrReplaceTempView('people')

In [24]:
#running sql queries on existing data
results = spark.sql('select * from people')

In [25]:
results.show()

In [26]:
df

In [27]:
new_age = spark.sql('select * from people where age<30')

In [28]:
new_age.show()